body {
	font-family: 'Muli', sans-serif;
}

body {
/*margin: 0;
padding: 0;*/
background: #CCC;
/*font-size: 20px;*/
/*line-height: 26px;*/
/*font-weight: 400;*/
/*color: #fff;*/
/*text-shadow: 0 1px 0 rgb(0, 0, 0);
text-shadow: 0 1px 0 rgba(0, 0, 0, .6);*/
/*-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;*/
}

/*.container {
	width: 100%;
	max-width: 1728px;
}

.container {
margin: 0 auto;
padding: 150px 25px;
width: 100%;
max-width: 1280px;
text-align: center;
position: relative;
}*/

.header-pic {
/*height: 518px;*/
height: 100%;
width: 100%;
background: url(images/unnamed-10.jpg);
background-size: cover;
background-position: center center;
background-attachment: fixed;
background-position-y: -120px;
}
header {
margin: 0 0 -100px 0;
width: 100%;
height: 100px;
background: #fff;
box-shadow: 0 2px 5px rgb(0, 0, 0);
box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
position: relative;
display: block;
-webkit-transition: height .4s cubic-bezier(0.25,.46,.45,.94);
-moz-transition: height .4s cubic-bezier(0.25,.46,.45,.94);
transition: height .4s cubic-bezier(0.25,.46,.45,.94);
z-index: 999;
}

nav{
/*position: absolute;*/
/*right: 15px;*/
}

nav ul {
display: inline-block;
}

.posh-nav {
	font-family: 'Muli', sans-serif;
	font-size: 60px;
	margin: 15px;
	display: inline-block;
	text-transform: uppercase;
}
nav ul {
position: absolute;
}

nav li {
	display: inline-block;
}

nav ul li a {
	padding: 0 12px;
	color: #000;
	text-decoration: none;
	text-shadow: none;
	display: block;
	text-transform: uppercase;
}

nav ul li a, nav ul li a:focus {
	padding: 0 15px;
	height: 100px;
	color: #000;
	font-weight: 900;
	text-decoration: none;
	text-shadow: none;
	display: block;
	border-bottom: none;
}

.shows {
	position: relative;
	height: 500px;
	margin-top: 120px;
}

.ind-show .date{
	display:inline-block;
}
.ind-show .city{
	display:inline-block;
}
.ind-show .venue{
	display:inline-block;
}

.band {
	position: relative;
	margin-top: 120px;
	padding: 25px;
}

.about-band {
	font-family:'Muli', sans-serif;
	text-transform: uppercase;
	padding-top: 10px;
}
.title-band {
	font-family:'Muli', sans-serif;
	text-transform: uppercase;
	font-size: 27px;
	text-decoration: underline;
	padding-top: 15px;
}