/*gold: #e0ae59*/

body {
	font-family: 'Muli', sans-serif;
}

body {
/*margin: 0;
padding: 0;*/
/*background: #CCC;*/
/*background: #000;*/
background: #131313;
/*font-size: 20px;*/
/*line-height: 26px;*/
/*font-weight: 400;*/
/*color: #fff;*/
/*text-shadow: 0 1px 0 rgb(0, 0, 0);
text-shadow: 0 1px 0 rgba(0, 0, 0, .6);*/
/*-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;*/
}

/*.container {
	width: 100%;
	max-width: 1728px;
}

.container {
margin: 0 auto;
padding: 150px 25px;
width: 100%;
max-width: 1280px;
text-align: center;
position: relative;
}*/

.header-pic {
/*height: 518px;*/
/*height: 100%;*/
height: 70%;
width: 100%;
background: url(images/11.jpg);
background-size: cover;
background-position: center center;
background-attachment: fixed;
/*background-position-y: -120px;*/
background-position-y: -590px;
}
header {
margin: 0 0 -100px 0;
width: 100%;
height: 100px;
background: #fff;
box-shadow: 0 2px 5px rgb(0, 0, 0);
box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
position: relative;
display: block;
-webkit-transition: height .4s cubic-bezier(0.25,.46,.45,.94);
-moz-transition: height .4s cubic-bezier(0.25,.46,.45,.94);
transition: height .4s cubic-bezier(0.25,.46,.45,.94);
z-index: 999;
}

nav{
/*position: absolute;*/
/*right: 15px;*/
}

nav ul {
display: inline-block;
}

.posh-nav {
	font-family: 'Muli', sans-serif;
	font-size: 60px;
	margin: 15px;
	display: inline-block;
	text-transform: uppercase;
}
nav ul {
position: absolute;
}

nav li {
	display: inline-block;
	margin-top: 25px;
}

nav ul li a {
	padding: 0 12px;
	color: #000;
	text-decoration: none;
	text-shadow: none;
	display: block;
	text-transform: uppercase;
}

nav ul li a, nav ul li a:focus {
	padding: 0 15px;
	height: 52px;
	color: #000;
	font-weight: 900;
	text-decoration: none;
	text-shadow: none;
	display: block;
	border-bottom: none;
}

.shows {
	position: relative;
	/*height: 500px;*/
	height: 130px;
	margin-top: 50px;
	/*margin-top: 120px;*/
}

.ind-show .date{
	display:inline-block;
}
.ind-show .city{
	display:inline-block;
}
.ind-show .venue{
	display:inline-block;
}

.ind-show {
	padding: 20px;
}

.band {
	position: relative;
	margin-top: 120px;
	padding: 25px;
}

.about-band {
	font-family:'Muli', sans-serif;
	text-transform: uppercase;
	/*padding-top: 10px;*/
	padding-top: 20px;
	color: white;
}
.title-band {
	font-family:'Muli', sans-serif;
	text-transform: uppercase;
	font-size: 27px;
	text-decoration: underline;
	padding-top: 15px;
	color: white;
}

.ind-photo {
	float: left;
	padding-right: 15px;
	margin-top: 23px;
	border-radius: 15px;
}

.navied {
	margin-top: 44px;
}

.tiam {
	margin-top: 17px;
}

.tasnim {
	margin-top: 41px;
}

.dano {
	margin-top: 31px;
}

.shows {
	color: white;
	text-transform: uppercase;
	padding: 20px;
	text-align: center;
}

.active:hover {
	border-bottom: solid;
	border-bottom-color: #e0ae59;
	border-bottom-width: 7px;
}

.upcoming-shows {
	font-family:'Muli', sans-serif;
	text-transform: uppercase;
	font-size: 27px;
	text-decoration: underline;
}

.example-image {
	border-radius: 20px;
	width: 200px;
	height: 200px;
	/*padding-right: 7px;*/
/*	padding: 8px;
*/	
	margin: 8px;
/*	border: solid;
	border-width: 2px;
	border-color: #e0ae59;*/
}

.photos {
	width: 700px;
	margin: 0 auto;
}

.contact {
	background: #e0ae59;
	position: relative; 
	text-align: center;
}

.contact-pic {
/*height: 518px;*/
/*height: 100%;*/
height: 70%;
width: 100%;
background: url(images/11.jpg);

background-size: cover;
background-position: center center;
background-attachment: fixed;
/*background-position-y: -120px;*/
/*background-position-y: -480px;*/
opacity: .4;
}

.contact-title {
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 18px;
	text-transform: uppercase;
}

.contact-info {
	position: absolute;
	top: 50px;
	left: 35%;
}

.copyright {
	padding: 15px;
}

.vid-title {
	font-family:'Muli', sans-serif;
	text-transform: uppercase;
	font-size: 27px;
	color: white;
	text-align: center;

}

.lb-image {
	display: block;
width: 500px;
height: 500px;
}